streamlit
streamlit-authenticator
pandas
numpy
plotly
python-dotenv
PyYAML
bcrypt
crewai
litellm
chromadb
sentence-transformers
scikit-learn
python-dateutil
markdown
xhtml2pdf
torch
torchvision
statsmodels